<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sonar-dotnet-rel-notes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/38231a77-8d34-4fae-a578-aa2294e16d18/resourcegroups/Services/providers/Microsoft.Web/sites/sonar-dotnet-rel-notes</ResourceId>
    <UserName>$sonar-dotnet-rel-notes</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sonar-dotnet-rel-notes.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>